# github actions: buat CI/CD pipeline => automtisasi deploy ke VPS
name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /var/www/static-site

            echo "Pulling latest version..."
            git pull origin main

            echo "Building and running docker..."
            docker compose down
            docker compose build --no-cache
            docker compose up -d

            echo "Deployment finished!"
